<div>
    <ul>
        <li (click)="loc.getLocClas('homepage')"
        [ngClass]="loc.locesenclas=='homepage'? 'active':'' ">homepage
    </li>
    
        <li 
        (click)="loc.getLocClas('albome')" 
        [ngClass]="loc.locesenclas=='albome'? 'active':'' ">albome
    </li>
        <li
        (click)="loc.getLocClas('todo')" 
        [ngClass]="loc.locesenclas=='todo'? 'active':'' ">todo
    </li>
        <li 
        (click)="loc.getLocClas('posts')" 
        [ngClass]="loc.locesenclas=='posts'? 'active':'' ">posts
    </li>
        <li 
        (click)="loc.getLocClas('comment')" 
        [ngClass]="loc.locesenclas=='comment'? 'active':'' ">comment
    </li>
    <li 
        (click)="loc.getLocClas('user')" 
        [ngClass]="loc.locesenclas=='user'? 'active':'' ">user
    </li>
   <li>
       wellcome     {{user}} 
   </li>
    
    
    </ul>
</div>
