.ul1{
    position: relative;
    width: 100%;
}
.li1{
    position:absolute;
    left: -100%;
    top: 0%;
    width: 100%;
    transition: all 4s;
}
.titel{
    position:absolute; 
    right: 9%;
    top: 10%;  
}
.li1.shoo{
    left: 0%;  
}
img{
    width: 100%;
    max-height: 250px;
}
div{
    width: 100%;
}
.ul2{
    margin-top: 30%
}

