<p>todo works!</p>

<button (click)="olltodo()">oll to dos</button>
<button  (click)="mytodo()">my to dos</button>
<br>
<select >
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  <button (click)="selecttodo()">send</button>
  

  
    <ul *ngIf="todo">
        <li *ngFor="let to of todo" >
            userId:{{to.userId}} <br>
            id:{{to.id}} <br>
            title:{{to.title}} <br>
            completed:{{to.completed}} <br>
            <br>
        </li>
    </ul>



